body {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;

    width: 100%;
    height: 100dvh;
}

main,
header,
footer,
section {
    padding: 0 4rem;
}

.squared {
    background-image:
        linear-gradient(90deg, rgb(246, 246, 246) 1px, rgba(0, 0, 0, 0) 1px),
        linear-gradient(rgb(246, 246, 246) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 14px 14px;
}
