:root {
    --black: #212121;
    --white: #f5f5f5;
    --grey: #8b8b8b;

    --red: #ff1443;
    --green: #50c878;
    --yellow: #ffd700;
    --orange: #ff7622;

    --spacing: 1rem;
    --border-radius: 0.5rem;
}

html[data-theme="light"] {
    --color-base: var(--white);
    --color-text: var(--black);

    --color-primary: var(--red);

    .lighter {
        display: none;
    }
}

html[data-theme="dark"] {
    --color-base: var(--black);
    --color-text: var(--white);

    --color-primary: var(--red);

    .darker {
        display: none;
    }
}

body {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;

    width: 100%;
    height: 100dvh;

    font-family:
        system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
        Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    color: var(--color-text);
    background: var(--color-base);
}

body {
    > main,
    > header,
    > footer,
    > section {
        padding: 0 4rem;
    }
}

/* Links */
a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Buttons */
button {
    border: none;
    cursor: pointer;
    padding: 0.6rem 1rem;
    color: var(--color-base);
    button {
        border: none;
        cursor: pointer;
        padding: 0.6rem 1rem;
        color: var(--color-base);
        border-radius: var(--border-radius);
        background: var(--color-primary);
    }
    background: var(--color-primary);
}

header#_header {
    height: 56px;

    display: flex;
    align-items: center;
}

#_header-brand {
    height: 32px;

    > .logo {
        height: 100%;
    }
}

#_header-menu {
    padding: 0 var(--spacing);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0px;

    > a {
        font-size: 1.2rem;
        font-weight: 500;

        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: var(--red);
        }

        > .icon {
            display: none;
            height: 32px;
        }
    }
}

#_header_extra {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;

    flex: 1;
}

#_theme-toggle {
    width: 2rem;
    height: 2rem;
    border: none;
    padding: 0rem;
    cursor: pointer;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    > .icon {
        width: 1.2rem;
        height: 1.2rem;
    }
}

/* Index page */
#landing {
    padding: var(--spacing);

    background-image: radial-gradient(
        circle at 4px 4px,
        var(--color-text) 1px,
        transparent 0
    );

    background-size: 15px 15px;
    background-position-x: 7.5px;
    background-position-y: 7.5px;
    filter: opacity(20%);

    #shout-out {
        height: 200px;
        opacity: 100%;
        padding: 0 calc(1.6 * var(--spacing));

        > .shout-out-item {
            height: 100%;
        }
    }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #_header-menu {
        width: 100%;

        > a {
            font-size: 0px;

            .icon {
                width: 24px;
                height: 24px;
                display: inline-block;
            }
        }
    }

    #landing {
        #shout-out {
            width: 100%;
            height: 200px;

            transform-origin: left;
            transform: translate(45%, -50%) rotate(90deg);

            > .shout-out-item {
                /* transform: rotate(90deg); */
                height: 100%;
            }
        }
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
